jellyseerr:80, correll.tv:80 {
    reverse_proxy jellyseerr:5055
}

jellyfin:80 {
    reverse_proxy host.docker.internal:8096
}

qbittorrent:80 {
    reverse_proxy gluetun:8080
}

prowlarr:80 {
    reverse_proxy prowlarr:9696
}

sonarr:80 {
    reverse_proxy sonarr:8989
}

radarr:80 {
    reverse_proxy radarr:7878
}

bazarr:80 {
    reverse_proxy bazarr:6767
}
